<% include ../partials/header_login     %>

<div class='row'> 
        <div class="col-lg-12 col-md-12 col-sm-12">
             <h3 class='header_on_login whiteBackground'> ДОБРО ПОЖАЛОВАТЬ НА ОНЛАЙН КУРСЫ </h3>  
        </div>
       <% include ../partials/landing/header    %> 
    </div>
    
<div class='landing_page_wrapper'>

    <div class='row'>
      <div class="col-lg-5 col-md-5 col-sm-12 counter_module wrapper_for_courses_list">
        <div class='whiteBackground' id='landing_left_white_box' >
          <div class="col-lg-12 col-md-12 col-sm-12 whiteBackground">
            <div class="btn btn-outline-secondary catalog_btn">
                <i class="fas fa-folder-open folder_icon float-left"></i> 
                <a class='no_link_outlook' href='/all_Courses'>
                  <div class='col-lg-6 col-md-6 col-sm-6'>
                    ВЫБРАТЬ КАТЕГОРИЮ КУРСА <br> ВИРТУАЛЬНОГО ОБУЧЕНИЯ 
                  </div>
                </a>  
            </div>
          </div>
            <br>
          <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 whiteBackground" >
                <div class='float-left counter c1'>
                   <span class='col-lg-12 col-md-12 col-sm-12 counterSpan'>0</span>
                </div>
                <div class='float-left counter c2'>
                   <span class='col-lg-12 col-md-12 col-sm-12 counterSpan'>0</span>
                </div>
                <div class='float-left counter c3'>
                   <span class='col-lg-12 col-md-12 col-sm-12 counterSpan'>0</span>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 float-left whiteBackground">
              <button type="button" class="btn btn-outline-warning cert_btn">
                  <img width='50px' src='/images/cert_ico.png' class='float-left '>
                  <br>
                  <b><p >ПОЛУЧЕННЫЕ СЕРТИФИКАТЫ</p> </b>
              </button> 
            </div>
            
          </div>
      </div>

        <div class="col-lg-6 col-md-6 col-sm-12 welcome_video_module whiteBackground">
           
          <center>
              <br>
              <br>
              <h5><b> ДОБРО ПОЖАЛОВАТЬ НА ОНЛАЙН КУРСЫ </b> </h5>
              <video width="94%" height="290px" controls>
                <source src="https://s3-eu-west-1.amazonaws.com/andop.online/SampleVideo_1280x720_1mb.mp4#t=1" type="video/mp4">
                 Your browser does not support the video tag.
              </video>
          </center>
          <div>
            <p> The standard Lorem Ipsum passage, used since the 1500sThe 
              standard Lorem Ipsum passage, used since the 1500s
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
              officia deserunt mollit anim id est laborum."
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
              non proident, sunt in culpa     deserunt mollit anim id est laborum."The standard Lorem Ipsum passage, used since the 1500s
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                ea commodo consequat. Duis aute irure dolor in reprehenderit 
              in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
          </div>
      </div>
      
    </div>
  
</div>





<div class="col-lg-12 col-md-12 col-sm-12 footer_login">
  <center><p>  © Все права Защищены. 2019</p></center>
</div>


</body>
</html>