<% ../include partials/header %>



<div class="ui main text container segment">
    <div class="ui huge header">
       Добавить Курс.
    </div>
    <!--Creating a "NEW BLOG POST" form which will be submited as a POST request to /blogs("INDEX" route) -->
    <form class="ui form" action="/tickets" method="POST">
   <% var timedate=Date.now; %>
        <div class="field">
            <label>Добавлен</label>
                <input  id='createDate' required type=date name="course[created]" >
        </div>
        
        <div class="field">
            <label>Название Курса</label>
                <input  id='title'   type=text name="course[title]" >
        </div>
        
        <div class="field">
            <label> Картинка </label>
                <input  id='title'   type=text name="course[title]" >
        </div>
        
        <div class="field">
            <label>Категория Курса</label>
                <select name="course[category]">
                     <% category.forEach(function(category){ %>
                     <option><%=category%></option>
                     <% }) %>
                </select>
        </div>
        
        <div class="field">
            <label>Цена</label>
                <input type=text name="course[price]"> 
        </div>
        
        <div class="field">
            <label>Количество Уроков</label>
                <input required   type=text  name="course[lessons_count]"> 
        </div>
        
        <div class="field">
            <label>Продолжительность Курса</label>
                <input required   type=text  name="course[lenght]"> 
        </div>
        
        <div class="field">
            <label>Автор Курса</label>
                <input type=text  name="course[author]" value="<%= course.author %>">  
        </div>
        
        
        <div class="field">
            <label>Курс Обновлен:</label>
               <input   readonly="readonly"  type=text  name="course[updated]" value="<%= Date().substring(0, 16) %>">   
        </div>
         
        <div class="field">
            <label>Описание Курса</label>
                <textarea  name="course[description]"> </textarea>
        </div>
        
        <div class="field">
            <label>Добавить Урок</label>
                <textarea> </textarea>
            <button class='btn btn-lg btn-success'> Добавить </button>
        </div>
        
        <div class="field">
            <label>ID Уроков</label>
                <textarea  name="course[lessons_scr]"> </textarea>
        </div>
        
        
            <input type="submit" class="positive ui big button">
          
    </form>
    
</div>




<% ../include partials/footer %>

