 
 	
 <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >  

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link rel="stylesheet" href="/stylesheets/create_course.css">

<br>
<center><h1> Добавить Новый Курс</h1>
</center>
<div class='container'>
  
    <form action="/create_course" method="POST">
  
        <div class="form-group">
            <label>Добавлен</label>
                <input   class='form-control' required type=date name="course[created]" >
        </div>
        
         <div  class="form-group">
            <label>Категория Урока</label>
                <select class='form-control' name="course[category]">
                     <% categories.forEach(function(category){ %>
                     <option><%=category%></option>
                     <% }) %>
                </select>
        </div>
        
        <div class="form-group">
            <label>Фото в описании курса.</label>
                <input class='form-control'  id='title' placeholder='введите имя фотографии на сервере. Например diet1'  type=text name="course[image]" >
        </div>
        
        <div class="form-group">
            <label>Название Курса</label>
                <input class='form-control'  id='title'   type=text name="course[title]" >
        </div>
        
         <div class="form-group">
            <label>Автор Курса</label>
                <input class='form-control'  id='title'   type=text name="course[author]" >
        </div>
        
        <div class="form-group">
            <label>Количество Уроков в Курсе</label>
                <input class='form-control'  required   type=text  name="course[lessons_count]"> 
        </div>
        
        <div class="form-group">
            <label>Продолжительность Курса</label>
                <input class='form-control'  required   type=text  name="course[lenght]"> 
        </div>
    
         
        <div class="form-group">
            <label>Описание Курса</label>
                <textarea rows="4" cols="10" class='form-control'   name="course[description]"> </textarea>
        </div>
        
            <input type="submit" class="btn btn-lg btn-success">
    </form>
</div>




 

