 


<% include ../partials/header_login     %>
<style>
    div.card {
        float:left !important;
    }
</style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
    body {
        background: #eeeeee;
        margin: 0;
        padding:  0;
    }
</style>


    <div class='row'> 
        <div class="col-lg-12 col-md-12 col-sm-12 whiteBackground">
             <h2 class='header_on_login '> ДОБРО ПОЖАЛОВАТЬ НА ОНЛАЙН КУРСЫ </h2>  
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 profile_header1">
                    <div class="float-left">
                          <img width='50px' src='/images/logo.png' class='float-left '> 
                          <h4 class='float-left shiftFromLeft'>ACADEMY OF <br> NUTRITION AND DIET  </h4> 
                    </div>
                    <a href='user/<%-currentUser._id%>'> <img width='5%' src='/images/user.png' class='float-right profilePhoto'>  </a>
        </div> 
    </div>
    
    <div class='row marginTop'>
        
        
        <!-- Category selecting DropDown -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 all_lessons_select">
       
            <div  class="form-group">
                
                    <label>Категория Урока</label>
                        <select id='selector_for_lesson' name='category' class='form-control' value=''>
                             <% lessons.forEach(function(lesson){ %>
                             <option lesson_id='<%- lesson._id %>' > Урок №<%=lesson.number%></option>
                             <% }) %>
                        </select>
            </div>
              
        </div>
         <!-- END of Category selecting DropDown -->
         
        <!-- All Courses -->
        <div class='col-lg-8 col-md-8 col-sm-12 col-xs-12' id='wrapper_for_courses_list'>
        
            
            
        </div>
        <!-- END of All Courses -->    
        
    </div>
 
  <script>
   
    $('#selector_for_lesson').on('change', function() {
         
        let selectedLesson = this.options[this.selectedIndex].getAttribute('lesson_id');
        alert(selectedLesson );
            axios.get('/selected_lesson_parts', {
                params: {
                    lesson_id: selectedLesson
                    } 
            }).then(function  (response) {
                    
                    rebuildList(response.data);
                })  
    });
      function rebuildList(response) {
            document.getElementById('wrapper_for_courses_list').innerHTML=' ';
            response.forEach(function(part){
                alert(part.title)
                let node =  `<div class='row'>   
                                <div class='card' style='width: 18rem;'>
                                     <a href='/parts/${part._id}'> <img class='card-img-top' src='https://s3-eu-west-1.amazonaws.com/andop.online/images/${part.image}.jpg' alt="Card image cap"> </a>
                                      <div class='card-body">
                                            <h5 class='card-title'>${part.title}</h5>
                                            <p class='card-text'>${part.description}</p>
                                            <a href='#' class='btn btn-primary'>Go somewhere</a>
                                      </div>
                                </div>
                            </div>`
                $('#wrapper_for_courses_list').append(node);
            })
            
        }
    
 
  </script>
 
 
<% include ../partials/footer     %>

 