  
<% include ../partials/header_login     %>
<style>
    div.card {
        float:left !important;
    }
</style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

 <style>
        body {
            background: white !important;
        }
    </style>
    <div class='row'> 
        <div class="col-lg-12 col-md-12 col-sm-12 whiteBackground">
            <div style="width: 350px!important;" class="btn btn-outline-secondary">
                <i class="fas fa-folder-open folder_icon float-left"></i> 
                <a class='no_link_outlook' href='javascript:history.back()'>
                  <div class='col-lg-6 col-md-6 col-sm-6'>
                    ВЫБОР УРОКА
                  </div>
                </a>  
            </div>  
        </div>
        <br>
        <hr class='dividing_hr'>
         <% include ../partials/landing/header    %>  
    </div>
    
 
    <div class='row marginTop'>
        
        
        <!-- Category selecting DropDown -->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 all_lessons_select">
       
            <div  class="form-group">
                
                    <label>Выбор Урока</label>
                        <select id='selector_for_lesson' name='category' class='form-control' value=''>
                             <% lessons.forEach(function(lesson){ %>
                             <option lesson_id='<%- lesson._id %>' > Урок №<%=lesson.number%></option>
                             <% }) %>
                        </select>
            </div>
              
        </div>
         <!-- END of Category selecting DropDown -->
         
        <!-- All Courses -->
        <div class='col-lg-8 col-md-8 col-sm-12 col-xs-12' id='wrapper_for_courses_list' >
        </div>
        <!-- END of All Courses -->    
        
    </div>
 
  <script>
   
    $('#selector_for_lesson').on('change', function() {
         
        let selectedLesson = this.options[this.selectedIndex].getAttribute('lesson_id');
        // alert(selectedLesson );
            axios.get('/selected_lesson_parts', {
                params: {
                    lesson_id: selectedLesson
                    } 
            }).then(function  (response) {
                    rebuildList(response.data);
                })  
    });
      function rebuildList(response) {
            document.getElementById('wrapper_for_courses_list').innerHTML=' ';
            response.forEach(function(part){
                // alert(part.title)
                let node =  ` 
                                <div class='card' style='width: 18rem; padding:10px; margin:10px; border-radius: 15px; height:460px;'>
                                     <a href='/parts/${part._id}'> <img height='180px' class='card-img-top' src='${part.image}' alt="Card image cap"> </a>
                                      <div class='card-body'>
                                            <h5 class='card-title'>${part.title}</h5>
                                            <p class='card-text'>${part.description.slice(0,120)+' ... '}</p>
                                            
                                            <center>
                                            <div class='bottom_position'>
                                            <h6> Продолжительность ${part.lenght}</h6>
                                            <br><br>
                                            <a href='/parts/${part._id}' class='btn btn-success bottom_position'>Go somewhere</a>
                                            </div>                                      
                                            </center>
                                      </div>
                                </div>
                            `
                $('#wrapper_for_courses_list').append(node);
            })
            
        }
    
 
  </script>
 
 
<% include ../partials/footer     %>

 