.body_courses_page {
  background-color: rgb(230, 230, 230);
}

.course_list {
  margin: 0 auto;
  margin-top: 50px;
  height: 200px;
  background: white;
  padding-top: 70px;
}

/*  counter module */

.catalog_btn {
  width: 100%;
   height: 60px;
   text-align: center !important;
   margin-top: 1em;
   padding-top: 10px;
   font-size: 13px;
}
.cert_btn {
   width: 100%;
   height: 60px;
   text-align: center !important;
   margin-top: 1em;
   margin-bottom:  1em;
   padding: 5px;
   font-size: 13px;
}
.welcome_video_module {
   height: auto;
  float: left;
  margin: 0 auto;
}
.counter {
  width:31% !important;
  margin-right: 2%;
  text-align: center;
}
.counter_span {
  font-size: 3em;
  height: 50%;
  text-align: center !important;
  color: white !important;
  padding-left: 0 auto !important;
}
.profile_header1 {
  background-color: white !important;
   height: 65px;
   width: 100% !important;
 }
.whiteBackground {
  background-color: white !important;
}
.folder_icon {
  font-size: 3rem;
}
.marginTop {
  margin-left: 40px; ;
  margin-top: 10vh !important;
  height: auto;
}
.counter_module {
  background-color: none!important;
  height: auto !important;
  margin: 0 auto;
  border-radius: 15px;
}
.no_link_outlook {
  color: gray !important;
  text-decoration: none !important;
}
.no_link_outlook:hover {
    color: white !important;
}
.all_lessons_select {
  background-color: white!important;
  height: 150px !important;
  padding: 15px;
  margin-right: 5vh;
   float: left;
   display: table-column;
}
.all_lessons_select_list {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  }
img.course_description_image {
  border-radius: 5px;
  float: left;
  width: 23vw;
  margin: 20px;
}
 .landing_page_wrapper{
   margin-top: 10vh;
   width: 92%;
   margin-left: 4%;
 }
.course_list_wrapper {
  height: auto;
  max-height: 350px;
  background-color: white;
  float: right;
  margin-left: 5vw;
  margin-bottom: 10vh;
  display: table-column;
 }
.profile_icon_right {
  width: 60px;
  height: 90%;
  margin-right:15px;
  margin-top: 2px;
  border: 1px solid silver;
  border-radius: 50%;
}
.rounded_corner {
  border-radius: 10px;
}
.counterSpan {
  text-align: center;
  color: white;
  font-size: 50px;
 
}
div.c1{
  background-color: red !important;
  height: 150px !important;
  border:1px solid red;
  border-radius: 10px;
}
div.c2{
  background-color: green !important;
  height: 150px !important;
  border:1px solid green;
  border-radius: 10px;
}
div.c3{
  background-color: navy !important;
  height: 150px !important;
  border:1px solid navy;
  border-radius: 10px;
}
#counter_module {
  background-color: white!important;
  height: auto;
}
#wrapper_for_courses_list {
  padding: 0!important
}