.body_courses_page {
  background-color: rgb(230, 230, 230);
}

.course_list {
  margin: 0 auto;
  margin-top: 50px;
  height: 200px;
  background: white;
  padding-top: 70px;
}

/*  counter module */

.counter_module {
  margin: 0 auto;
}

.catalog_btn {
  width: 100%;
   height: 65px;
   text-align: center !important;
   margin-top: 1em;
}

.welcome_video_module {
  border: 3px solid silver;
  height: auto;
  float: left;
  margin: 0 auto;
}

.counter {
  float: left;
  width:31%;
  margin-right:2.2%;
  height:110px;
  text-align: center;
  display:flex;
}

.counter_span {
  font-size: 3em;
  height: 50%;
  text-align: center !important;
  color: white !important;
  padding-left: 0 auto !important;
}

.profile_header1 {
  background-color: white !important;
   height: 65px;
   width: 95% !important;
   margin-right: 1px !important;
   padding-right: 1px !important;
}

.whiteBackground {
  background-color: white !important;
}

.folder_icon {
  font-size: 3rem;
}

.profilePhoto {
  margin-right:15px; 
}

.marginTop {
  margin-left: 40px; ;
  margin-top: 10vh !important;
  height: auto;
}

.counter_module {
  background-color: white!important;
  height: 350px !important;
  padding: 5px;
  
}
 

.no_link_outlook {
  color: gray !important;
  text-decoration: none !important;
}
.no_link_outlook:hover {
    color: white !important;

}

.all_lessons_select {
  background-color: white!important;
  height: 150px !important;
  padding: 15px;
   float: left;
}
.all_lessons_select_list {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  }
img.course_description_image {
 
  border-radius: 5px;
  float: left;
  width: 35%;
  margin: 20px;
   
}
 
.course_list_wrapper {
  height: 250px;
  background-color: white;
  float: right;
  margin-left: 5vw;
  margin-bottom: 10vh;
 }
