/* login page */
#login_container {
    margin-top: 20vh !important;
}
#submitRegister {
    display:  none;
}
.submitButton {
    width: 100% !important;
}
.header_on_login {
    border-bottom: 3px solid silver;
    text-align: center;
}
.login_page_wrapper {
    height: 90vh;
}
.footer {
    margin-top: 15px;
}