/* login page */
#login_container {
    margin-top: 20vh !important;
}
#submitRegister {
    display:  none;
}
.submitButton {
    width: 100% !important;
}
.header_on_login {
    border-bottom: 2px solid silver;
    text-align: center;
    width: 100% !important;
}
.login_page_wrapper {
    height: 100vh;
}
.footer {
    position: relative;
    bottom: 0;
    margin-top: 25px;
    height: 25px;
    display: block;
    
}
.blueHeading {
    color: #0000A0;
    margin-bottom: 20vh;
}
.marginCenter {
    margin-left:38%;
    width: auto;
}
