<!--<link rel="stylesheet" href="/stylesheets/admin.css">-->
<link rel="stylesheet" href="/stylesheets/admin2.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<body class="sidebar-is-reduced">
  <header class="l-header">
    <div class="l-header__inner clearfix">
      <div class="c-header-icon js-hamburger">
        <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
      </div>
      <div class="header-icons-group">
         <div class="c-header-icon logout"><a href='/all_Courses'><i class="fa fa-power-off"></i></a></div>
      </div>
    </div>
  </header>
  <div class="l-sidebar">
    <div class="logo">
      <div class="logo__txt"><img width='80%' src='/images/logo.png' /></div>
    </div>
    <div class="l-sidebar__content">
      <nav class="c-menu js-menu">
        <ul class="u-list">
          <li class="c-menu__item is-active" data-toggle="tooltip" title="Flights">
            <div id='add_course' class="c-menu__item__inner"><i class="fas fa-file-signature"></i>
                <div class="c-menu-item__title"><span>Добавить Курс</span></div>
            </div>
          </li>
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Modules">
            <div id='add_lesson' class="c-menu__item__inner"><i class="fas fa-file-signature"></i>
                <div class="c-menu-item__title"><span>Добавить Урок</span></div>
            </div>
          </li>
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Statistics">
            <div id='add_part' class="c-menu__item__inner"><i class="far fa-chart-bar"></i>
              <div class="c-menu-item__title"><span>Добавить Часть в Урок</span></div>
            </div>
          </li>
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Gifts">
            <div id='all_Courses' class="c-menu__item__inner"><i class="fa fa-gift"></i>
              <div class="c-menu-item__title"><span>Все курсы</span></div>
            </div>
          </li>
          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Settings">
            <div class="c-menu__item__inner"><i class="fa fa-cogs"></i>
              <div class="c-menu-item__title"><span>Все Уроки</span></div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</body>
<main class="l-main">
  <div class="content-wrapper content-wrapper--with-bg">
    <h1 class="page-title">Dashboard</h1>
    <div class="page-content">
        <iframe id='main_frame'
        	src="/" frameborder=0 scrolling=no allowtransparency=true width=80% height=800>
        </iframe>
    </div>
  </div>
</main>

 
 <script src='js/admin2.js'></script>
 <script>
    $('#add_part').on('click', function(){
        $('#main_frame').attr('src','/new_parts')
    });
    $('#add_lesson').on('click', function(){
        $('#main_frame').attr('src','/new_lesson')
    });
    $('#add_course').on('click', function(){
        $('#main_frame').attr('src','/new_course')
    });
    $('#all_Courses').on('click', function(){
        $('#main_frame').attr('src','/all_Courses')
    });
   
 </script>
 